.container {
  // width: 25rem;
  // height: 10rem;
  width: 31vw;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  margin: 0.5rem;
  background-color: #eeeeee;

  .ideaInfo {
    width: 19vw;
    height: 100%;
    padding: 0.4rem 0.5rem;
    display: flex;
    flex-direction: column;

    .ideaTitle {
      flex: 1;
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      animation: fadingAnimation 1s ease infinite alternate;
      background-color: #d8cfcf;
    }

    .ideaGoal {
      flex: 1;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0.5rem 0;
      animation: fadingAnimation 1s ease infinite alternate;
      background-color: #d8cfcf;
    }

    .ideaDesc {
      flex: 5;
      width: 100%;
      margin-bottom: 0.5rem;
      animation: fadingAnimation 1s ease infinite alternate;
      background-color: #d8cfcf;
    }
  }

  .ideaImage {
    width: 12vw;
    height: 25vh;
    border-radius: 0 0.5rem 0.5rem 0;
    animation: fadingAnimation 1s ease infinite alternate;
    background-color: #d8cfcf;
  }
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  div {
    &.account {
      width: 6rem;
      height: 1.5rem;
      animation: fadingAnimation 1s ease infinite alternate;
      background-color: #061c7e;
    }

    &.userImage {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      animation: fadingAnimation 1s ease infinite alternate;
      background-color: #061c7e;
    }
  }
}

@keyframes fadingAnimation {
  to {
    opacity: 0.5;
  }
}
