.container {
  width: 20rem;
  height: 8rem;
  background-color: #eeeeee;
  border: 1px solid #303030;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;

  .delete {
    display: flex;
    justify-content: end;

    button {
      border: none;
      outline: none;
      cursor: pointer;
      background-color: #cd0404;
      padding: 0.5rem;
      border-radius: 0.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4rem;
      color: white;
      font-size: 0.9rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #990808;
      }
    }
  }

  .uploadedFile {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-family: Montserrat, sans-serif;
    }
  }
}

@font-face {
  font-family: Rubik;
  src: url("../../fonts/Rubik-VariableFont_wght.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: Verdana;
  src: url("../../fonts/Verdana.ttf");
}
