.container {
  width: 100%;
  padding: 1rem 1.5rem;

  .stepperContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Rubik, sans-serif;

    .title {
      flex: 1;
    }

    .stepper {
      flex: 2;
    }
  }

  .changePassword {
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      flex: 1;
      height: 55vh;
    }

    .steps {
      flex: 1;
      font-family: Montserrat, sans-serif;

      .step1,
      .step3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;

        div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 0.5rem;

          input {
            outline: none;
            width: 20vw;
            border: 1px solid #303030;
            padding: 0.2rem 0.5rem;
            border-radius: 0.2rem;

            &:focus {
              outline: none;
              border: 1px solid #303030;
            }
          }
        }

        .option {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.8rem;
          border: none;
          outline: none;
          background-color: #4ad295;
          color: white;
          padding: 0.3rem 0.5rem;
          border-radius: 0.2rem;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          img {
            width: 1rem;
            height: 1rem;
          }

          &:hover {
            background-color: #158854;
          }
        }
      }

      .step2 {
        .verificationCode {
          border: 2px solid #303030;
          border-radius: 0.5rem;
          padding: 1rem 1.5rem;
          width: 45%;

          .verificationCodeInputs {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1rem;

            input {
              outline: none;
              width: 3rem;
              height: 3rem;
              border: 1px solid #303030;
              text-align: center;

              &:focus {
                outline: none;
                border: 1px solid #303030;
              }
            }
          }
        }

        .timer {
          margin: 1rem 0;
        }

        .options {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 1rem;

          .option {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            border: none;
            outline: none;
            background-color: #4ad295;
            color: white;
            padding: 0.3rem 0.5rem;
            border-radius: 0.2rem;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            img {
              width: 1rem;
              height: 1rem;
            }

            &:hover {
              background-color: #158854;
            }
          }
        }
      }
    }
  }
}

@font-face {
  font-family: Rubik;
  src: url("../../fonts/Rubik-VariableFont_wght.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat-VariableFont_wght.ttf");
}
