.container {
  width: 100%;
  height: 100%;

  .toolbar {
    width: 100%;
    background-color: #e14d2a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Verdana, sans-serif;

    button {
      color: white;
      background-color: #e14d2a;
      border: none;
      outline: none;
      font-size: 1rem;
      padding: 1rem 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #e57d64;
      }
    }
  }

  .body {
    width: 100%;
    height: 100%;
    text-align: right;

    .selectedIdea {
      height: 10rem;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 3rem;
      font-family: Inter, sans-serif;
      padding: 0 1rem;
      border: 2px solid #303030;

      img {
        width: 15rem;
        height: 9.7rem;
      }

      p {
        display: block;
        margin: auto;
        max-width: 30rem;
        text-align: justify;
      }
    }

    .seeAllIdeas {
      background-color: #4ad295;
      color: white;
      border: none;
      outline: none;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 0.2rem;
      margin: 0.5rem 1rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #158854;
      }

      &.disableButton {
        opacity: 0.5;
        cursor: none;
      }
    }

    .ideas {
      width: 100%;
      height: 40%;
      display: grid;
      grid-template-columns: auto auto auto;
      justify-items: center;
      align-items: center;
      text-align: left;
      margin: 0.5rem 0;

      &.scrollable {
        height: 75%;
        max-height: 75%;
        overflow: hidden;
        overflow-y: scroll;
        padding: 1rem 0;
      }

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        background: lightgray;
      }

      &::-webkit-scrollbar-thumb {
        background: rgb(158, 158, 158);
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: gray;
      }
    }
  }
}

@font-face {
  font-family: Verdana;
  src: url("../../fonts/Verdana.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../../fonts/Inter-VariableFont_slnt\,wght.ttf");
}
